body{
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}
#navtop a{
    padding: 7px;
}

#navtop a:hover{
    cursor: pointer;
    border-radius: 10px;
}
nav a:hover{
    cursor: pointer;
}
#mybtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.main{
    background: url("../images/back.png");
    background-repeat: no-repeat;
    background-position-x: center;
}
#title{
    font-weight: 800;
    line-height: normal;
}
.title1{
    font-size: 3rem;
}
#tex{
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: rgb(73, 73, 73);
    font-size: 1.25rem;
}
@media (max-width:900px){
    .main{
        background-position-x: center;
    }
}

.men{
    height: 100%;
    background: transparent;
}
.men header{
    width: 100%;
}
.hh4{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin-bottom: 25px;
}
#hovimg img{
    transition: 1s ease;
    transform: scale(0.9);
    border-radius: 10px;
}
#hovimg:hover img{
    transform: scale(1);
}
.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}
@media (max-width:600px){
    #aa{
        display: none;
    }
    .title1{
        font-size: 2.3rem;
    }
    .foot{
        display: block;
    }
    .main{
        background: white;
    }
}