#navtop a{
    padding: 7px;
}

#navtop a:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
nav a:hover{
    cursor: pointer;
}
#mybtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.main{
    background: url("../images/background-circle.svg");
    background-repeat: no-repeat;
    background-size: inherit;
}
#title{
    font-weight: 800;
    line-height: normal;
}
.title1{
    font-size: 3rem;
}
#tex{
    font-weight: 500;
    color: rgb(73, 73, 73);
}
@media (max-width:600px){
    .main{
        background-size: cover;
    }
}